body {
color: #333;
font-family: Verdana, sans-serif;
margin: 0px;
background-image: url(../img/haikei.jpg);
background-size: cover;
position: relative;
min-height: 95vh;
}
.border-top{
  height: 20px;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
}

.border-bottom {
  height: 20px;
  bottom: 0px;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
}

.border-left {
  width: 20px;
  height: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
}

.border-right {
  width: 20px;
  height: 100%;
  right: 0;
  background: #fff;
  position: fixed;
  z-index: 999;

}
.pict{
  display: inline-block;
  margin: 30px;
  width: 300px;
  height: 300px;
}
.neko{
border-radius: 50%
}

header {
background-color: rgba(255,255,255,0.7);
text-align: center;
padding: 10px;
height: 100px;
background-size: cover;
margin-bottom: 60px;
z-index: 990;

}

header ul {
  margin: auto 0px;
  list-style-type: none;
  padding-left: 0px;
}

header li {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
}

header li > a {
  text-decoration: none;
  color: inherit;
}

header li > a:hover{
  color: skyblue;
}

header nav{
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

nav ul li a{
  color: rgb(255,255,255);
}

.myname {
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-right: 200px;
  margin-top: 100px;
  float: right;
}
div p {
  margin-top: 0;
  margin-bottom: 0px;
}
div h1{
  margin-bottom: 0;
  margin-top: 0px;
}

footer{
  text-align: center;
  width: 100%;

  position: absolute;
  bottom: 0;
}

footer p {
  font-size: 8px;
  color: rgba(255,255,255,0.8);
  margin: auto;
}
